.project {
  font-weight: 500;
  padding: 0;

  margin-bottom: 4px;
  color: #264061;
}
.list {
  list-style: none;
}
/* @media print {
  .projects {
    break-before: page;
    page-break-before: always;
  }
} */
