body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.title {
  font-size: 1.8rem;
  line-height: 34px;
  text-transform: uppercase;
  color: #264061;
  text-align: center;
  margin: 0;
}
.title-box {
  font-size: 1.4rem;
  color: #264061;
  border-bottom: 1px solid #376193;
  line-height: 27px;
  margin-block: 12px;
}
.text {
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
  white-space: pre-line;
}
ul {
  margin: 0;
  padding: 0;
}
